<h2>Contact List</h2>


<span>Search Contact </span><input type="search" placeholder="Name of the contact">
<h3><%= link_to("Add new contact", new_contact_path) %></h3>

	<%= form_tag(contact.name) do %>
	  <%= label_tag(:name) %>
	  <%= text_field_tag(:name) %>
	  <%= submit_tag("Search") %>
	<% end %>

<ul>
	<% @contacts.each do |contact| %>
		<li>
			<h4><%= link_to("#{contact.name}", contact_path(contact.id)) %></h4>
			<button><%= link_to("Add phone", new_contact_phone_path(contact.id)) %></button>
			<button><%= link_to("Add email",  new_contact_email_path(contact.id)) %></button>
			<button><%= link_to("Edit Contact", edit_contact_path(contact.id)) %></button>	
		</li>
	<% end %>
</ul>
