<h2>Contact List</h2>


<h3><%= link_to("Add new contact", new_contact_path) %></h3>

<%= form_tag search_path do %>
	<p>
		<%= text_field_tag :search %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>


<ul>
	<% @contacts.each do |contact| %>
		<li>
			<h4><%= link_to("#{contact.name}", contact_path(contact.id)) %></h4>
			<button><%= link_to("Add phone", new_contact_phone_path(contact.id)) %></button>
			<button><%= link_to("Add email",  new_contact_email_path(contact.id)) %></button>
			<button><%= link_to("Edit Contact", edit_contact_path(contact.id)) %></button>	
		</li>
	<% end %>
</ul>
